<div *ngIf="!loading">

  <app-search></app-search>
  <ul *ngIf="todosService.todos.length; else noTodos">
    <li [class.backCo]="t.userId && t.userId % 2 === 0"
        *ngFor="let t of todosService.todos | todosFilter:{string:searchService.search.string,isDone:searchService.search.isDone} ; let i=index">
    <span [class.done]="t.completed">
      <input type="checkbox" [checked]="t.completed" (change)="onChange(t.id)">
    <strong>{{i + 1}}</strong>
      {{t.title}}
      </span>
      <small>{{t.date |  date:'medium'}}</small>
      <button class="rm" (click)="todosService.removeTodo(t.id)">&times;</button>
    </li>
  </ul>
  <button (click)="todosService.changeTodosCount()" class="showButton">Show more {{todosService.startCount}}</button>

  <ng-template #noTodos>
    <p style="text-align: center"> No todos now, bro =)</p>
  </ng-template>
</div>
<p *ngIf="loading">L o a d i n g . . . </p>
